<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Test_Automation_Suite" parallel="tests">
	<listeners>
		<listener class-name="com.qa.utility.Reporting"></listener>
	</listeners>
	<parameter name="Browser" value="chrome"></parameter>
	<parameter name="URL" value="https://www.saucedemo.com/"></parameter>
	<parameter name="validUserName" value="standard_user"></parameter>
	<parameter name="validPassword" value="secret_sauce"></parameter>
	<parameter name="InvalidUserName"
		value="standard_Invaliduser"></parameter>
	<parameter name="InvalidPassword" value="secret_Invalidpwd"></parameter>
	<test thread-count="5" name="Test">
		<classes>
			<class name="com.qa.testScripts.SauceDemoTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
